<div class="cb-section cb-section--padded bg--gray-4">
	<div class="cb-container">
	    <div class="grid grid-center grid--gutters--huge grid--full tablet-grid--1of2">
	    	<div class="grid-cell">
	    		<h2 class="f2 f1-ns mt2 measure">Reminders</h2>
  					<p>Reminders is a <a href="http://cobot.me">Cobot</a> app that automatically sends email reminders about upcoming invoices to a coworking space's members.</p>
  					<p><%= link_to 'Sign in', '/auth/cobot', class: 'btn btn-primary btn-large' %> with your Cobot account.</p>
  			</div>
  		</div>
  	</div>
</div>
