<%= f.input :subject, label: 'Email subject' %>
<%= f.input :body, label: 'Email body', hint: "You can use <a href=\"http://liquidmarkup.org/\">Liquid</a> markup here:<br/>{{ plan.name }} will be replaced with the plan's name.<br/> {{plan.price_per_cycle | money}} will print out the plan's price.<br/> {{plan.currency}} gives you the currency <br/> {{days}} the number of days until the invoice is sent.", input_html: {rows: 9, value: (default_body if f.object.new_record?), class: 'input-xxlarge input-block-level'} %>
<%= f.input :days_before, hint: 'Send the email x days before the invoice is due.' %>
