<div class="cb-section cb-section--padded bg--gray-4">
	<div class="cb-container">
		  <h1>New Reminder</h1>
	  	<p class="lead">Adding a reminder will send an email to each member <em>x</em> days before an invoice is due.</p>
	</div>
</div>
<div class="cb-section">
	<div class="cb-container">

<%= render 'new_form', reminder: @reminder %>

	</div>
</div>
