<div class="page-header">
  <h1>Reminder Preview</h1>
</div>

  <pre><%= render_liquid(sample_membership, sample_membership.plan, @reminder) %></pre>

<%= render "#{@action}_form", reminder: @reminder %>
