<div class="cb-section cb-section--padded bg--gray-4">
  <h1>Reminders</h1>
  <p>Reminders is a <a href="http://cobot.me">Cobot</a> app that automatically sends email reminders about upcoming invoices to a coworking space's members.</p>
  <p><%= link_to 'Sign in', '/auth/cobot', class: 'btn btn-primary btn-large' %> with your Cobot account.</p>
</div>